/* color-primary:#393e46 */
/* color-secondary:#00adb5 */
/* color-tertiary:#eeeeee */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #393e46;
}
.app-header {
  padding: 80px 0;
  background-color: #00adb5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.big-heading {
  font-size: 48px;
  font-weight: 700;
  color: #fff;
}
.search-input {
  width: 50%;
  height: 40px;
  border-radius: 5px;
  border: none;
  padding: 10px;
  font-size: 18px;
}
.bookList {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 100%;
  margin-top: 40px;
  justify-content: center;
}
.bookItem {
  background-color: #eeeeee;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  margin: 1.33%;
  flex: 0 1 30%;
  margin-bottom: 10px;
}
.bookImg {
  width: 100%;
  max-height: 400px;
}
.bookInfo {
  padding: 20px;
}
.bookInfo-row {
  margin-bottom: 5px;
}
.bookInfo-label {
  margin-bottom: 5px;
  font-weight: 700;
}
.bookTitle {
  font-size: 16px;
}

/* @media (min-width: 768px) {
  .bookItem {
    flex-basis: 300px;
  }
} */
